doctype html
html
  head
    meta(charset="utf-8")
    meta(name="description" content="")

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900&display=swap&subset=cyrillic" rel="stylesheet")


    script(src="https://kit.fontawesome.com/011b81d105.js" crossorigin="anonymous")
    script(src="https://unpkg.com/@babel/standalone/babel.min.js")
    script(src="https://unpkg.com/react@16/umd/react.development.js")
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.1.2/react-router-dom.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.1.2/react-router-dom.min.js.map")
    
    link(rel="stylesheet" href="/css/main.css")
    script(type="text/babel" src="/javascript/main.js")


  body
    #root