body{
  font-family: 'Exo 2', sans-serif;
  background: #343a40!important;
  color: #9E9E9E;
}
h1, h2, h3, h4, h5, h6{
  color: white;
}
.table thead th{
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: lighter;
}
.menu-point{
  padding: 0px;
  cursor: pointer;
  color: white;
}
.menu-point > p{
  padding: 5px;
}
.menu-point:hover{
  border-left: 2px white;
  border-left-style: solid;
}
.main-content{
  background-color: #4b535a;
  min-height: 600px;
}
.blockcenter{
  border-left: 2px #e2e2e2 solid;
  padding: 15px;
  color: white;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
    background-color: #4b535a;
    color: white;
}
.alert-warning {
    color: #ffffff;
    background-color: #de3a3a;
    border-color: #ffffff;
}
a{
  color: #ffffff;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.labeldesc{
  color: #a0a0a0;
  font-size: 10px;
  padding: 5px;
}
.labelcolorcount{
  color: #cccccc;
  font-size: 12px;
}
p{
  margin-bottom: 0.5rem;
}
.btn-link {
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #4b535a;
  background-clip: border-box;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 5px;
}
.btn-link:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.accordion .card:first-of-type {
    border: 2px solid rgba(0,0,0,.125);
}
.accordion{
  margin: 10px;
}
