doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    title Joint Docs - Log in
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(href="/css/all.min.css" rel="stylesheet" type="text/css")
    link(href="/css/css.css" rel="stylesheet" type="text/css")
    link(href="/css/magnific-popup.css" rel="stylesheet")
    link(href="/css/creative.min.css" rel="stylesheet")
  body(id="page-top" style="height: 100%;")
    nav(class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav")
      .container
        a(class="navbar-brand js-scroll-trigger" href="https://blackrockdigital.github.io/startbootstrap-creative/#page-top") Start Bootstrap
        button(class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/#about") About
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/#services") Services
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/#portfolio") Portfolio
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/#contact") Contact
      header.masthead.text-center.text-white.d-flex
        .container.my-auto
          .row
            .col-lg-10.mx-auto
              h1.text-uppercase
                strong Your Favorite Source of Free Bootstrap Themes
              hr
            .col-lg-8.mx-auto
              p.text-faded mb-5 Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!
              a.btn.btn-primary.btn-xl.js-scroll-trigger(href="/#about") Find Out More
      section.bg-primary#about
        .container
          .row
            .col-lg-8.mx-auto.text-center
              h2.section-heading.text-white We've got what you need!
              hr.light my-4
              p.text-faded.mb-4 Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
              a.btn.btn-light.btn-xl.js-scroll-trigger(href="https://blackrockdigital.github.io/startbootstrap-creative/#services") Get Started!
      section#services
        .container
          .row
            .col-lg-12.text-center
              h2.section-heading At Your Service
              hr.my-4
        .container
          .row
            .col-lg-3.col-md-6.text-center
              .service-box.mt-5.mx-auto
                i.fas.fa-4x.fa-gem.text-primary.mb-3.sr-icon-1(data-sr-id="0" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.2s;")
                h3.mb-3 Sturdy Templates
                p.text-muted.mb-0 Our templates are updated regularly so they don't break.
            .col-lg-3.col-md-6.text-center
              .service-box.mt-5.mx-auto
                i(class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2" data-sr-id="2" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.4s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.4s;")
                h3.mb-3 Ready to Ship
                p.text-muted.mb-0 You can use this theme as is, or you can make changes!
            .col-lg-3.col-md-6.text-center
              .service-box.mt-5.mx-auto
                i(class="fas fa-4x fa-code text-primary mb-3 sr-icon-3" data-sr-id="3" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.6s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.6s;")
                h3.mb-3 Up to Date
                p.text-muted.mb-0 We update dependencies to keep things fresh.
            .col-lg-3.col-md-6.text-center
              .service-box.mt-5.mx-auto
                i(class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4" data-sr-id="4" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.8s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.8s;")
                h3.mb-3 Made with Love
                p.text-muted.mb-0 You have to make your websites with love these days!
      section.bg-dark.text-white
        .container.text-center
          h2.mb-4 Free Download at Start Bootstrap!

          a.btn.btn-light.btn-xl.sr-button(href="http://startbootstrap.com/template-overviews/creative/" data-sr-id="5" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.2s;") Download Now!
      section#contact
        .container
          .row
            .col-lg-8.mx-auto.text-center
              h2.section-heading Let's Get In Touch!
              hr.my-4
              p.mb-5 Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
          .row
            .col-lg-4.ml-auto.text-center
              i(class="fas fa-phone fa-3x mb-3 sr-contact-1" data-sr-id="6" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.2s;")
              p 123-456-6789
            .col-lg-4.mr-auto.text-center
              i(class="fas fa-envelope fa-3x mb-3 sr-contact-2" data-sr-id="7" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.4s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.4s;")
              p
                a(href="mailto:your-email@your-domain.com") manager@joint-studio.ru

    footer
      script(src="/javascript/jquery.min.js")
      script(src="/javascript/bootstrap.bundle.min.js.")
      script(src="/javascript/jquery.easing.min.js")
      script(src="/javascript/scrollreveal.min.js")
      script(src="/javascript/jquery.magnific-popup.min.js")
      script(src="/javascript/creative.min.js")
