doctype html
html(lang="en")
    head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(name="description" content="")
      meta(name="author" content="")
      title Registration in Joint Docs

      link(href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet")
      link(href="https://getbootstrap.com/docs/4.1/examples/checkout/form-validation.css" rel="stylesheet")
    body.bg-dark(style="color: white;")
      .container
        .py-5.text-center
          //img.d-block.mx-auto.mb-4(src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72")
          h2 Register and start working
          p.lead Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
        .row
          .col-md-12
            .row
              form(action="/createuser" method="post" style="margin: auto; width: 450px;")
                .col-md-12
                  label(for="username") Username
                  input(type="text" class="form-control" id="username" name="username" placeholder="Username" required="")
                  .invalid-feedback Your username is required.
                .col-md-12
                    label(for="username") Password
                    input(type="text" class="form-control" id="password" name="password" placeholder="*******" required="")
                    .invalid-feedback Your username is required.
                .col-md-12
                  label(for="email") Email
                  input(type="email" class="form-control" id="email" name="usermail" placeholder="you@example.com" required="")
                  .invalid-feedback Please enter a valid email address for shipping updates.
                .col-md-12
                  label(for="address") Your site URL
                  input(type="text" class="form-control" id="urladdress" name="usersite" placeholder="http://your-site.com" required="")
                  .invalid-feedback Please enter your site address.
                hr.mb-4
                .col-md-12(style="padding: 20px;")
                  .custom-control.custom-checkbox
                    input(type="checkbox" class="custom-control-input" id="same-address")
                    label(class="custom-control-label" for="same-address" style="cursor: pointer;") I want to receive newsletters
                  .custom-control.custom-checkbox
                    input(type="checkbox" class="custom-control-input" id="save-info")
                    label.custom-control-label(for="save-info" style="cursor: pointer;") I agree with the rules
                hr.mb-4
                button(class="btn btn-primary btn-lg btn-block" type="submit") Continue to login
      footer.my-5.pt-5.text-muted.text-center.text-small
        p.mb-1 &copy; 2017-2018 Joint-Studio.ru
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js")
        script(src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js")
        script(src="https://getbootstrap.com/docs/4.1/assets/js/vendor/holder.min.js")
